In [ ]:
import pandas as pd
import numpy as np

In [118]:
data=pd.read_csv("C:/Users/aditya/Desktop/Eco project/data1.csv")

In [119]:
data.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.72,7.37,0.45,50.80,0.72,0.17,0.88,0.52,0.26
1,Afghanistan,2009,4.40,7.54,0.55,51.20,0.68,0.19,0.85,0.58,0.24
2,Afghanistan,2010,4.76,7.65,0.54,51.60,0.60,0.12,0.71,0.62,0.28
3,Afghanistan,2011,3.83,7.62,0.52,51.92,0.50,0.16,0.73,0.61,0.27
4,Afghanistan,2012,3.78,7.71,0.52,52.24,0.53,0.24,0.78,0.71,0.27

In [120]:
data.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [121]:
data_1=data[['Life Ladder','Log GDP per capita','Social support','Healthy life expectancy at birth','Freedom to make life choices','Generosity','Perceptions of corruption']]

In [122]:
data_1.head()

,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,3.72,7.37,0.45,50.80,0.72,0.17,0.88
1,4.40,7.54,0.55,51.20,0.68,0.19,0.85
2,4.76,7.65,0.54,51.60,0.60,0.12,0.71
3,3.83,7.62,0.52,51.92,0.50,0.16,0.73
4,3.78,7.71,0.52,52.24,0.53,0.24,0.78

# REMOVING ALL NULL VALUES SINCE THEY ARE LESS IN NUMBER

In [123]:
data_1.dropna(inplace=True)

In [124]:
y=data_1['Life Ladder']
X=data_1.drop('Life Ladder',axis=1)

In [125]:
X.head()

,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.37,0.45,50.80,0.72,0.17,0.88
1,7.54,0.55,51.20,0.68,0.19,0.85
2,7.65,0.54,51.60,0.60,0.12,0.71
3,7.62,0.52,51.92,0.50,0.16,0.73
4,7.71,0.52,52.24,0.53,0.24,0.78

In [126]:
data_1.describe()

,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
count,1712.00,1712.00,1712.00,1712.00,1712.00,1712.00,1712.00
mean,5.45,9.32,0.81,63.22,0.74,-0.00,0.75
std,1.14,1.16,0.12,7.68,0.14,0.16,0.19
min,2.38,6.63,0.29,32.30,0.26,-0.34,0.04
25%,4.59,8.39,0.74,58.18,0.64,-0.11,0.70
50%,5.36,9.46,0.83,65.10,0.76,-0.03,0.81
75%,6.25,10.27,0.91,68.68,0.85,0.09,0.88
max,7.97,11.65,0.99,77.10,0.98,0.69,0.98

In [127]:
data_1.shape

(1712, 7)

In [128]:
df=X

In [129]:
df

,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.37,0.45,50.80,0.72,0.17,0.88
1,7.54,0.55,51.20,0.68,0.19,0.85
2,7.65,0.54,51.60,0.60,0.12,0.71
3,7.62,0.52,51.92,0.50,0.16,0.73
4,7.71,0.52,52.24,0.53,0.24,0.78
...,...,...,...,...,...,...
1944,7.98,0.77,54.40,0.73,-0.10,0.72
1945,8.02,0.75,55.00,0.75,-0.10,0.75
1946,8.05,0.78,55.60,0.76,-0.07,0.84
1947,7.95,0.76,56.20,0.63,-0.06,0.83
1948,7.83,0.72,56.80,0.64,-0.01,0.79

In [130]:
data.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [131]:
df.columns=['Log GDP per capita','Social support','Healthy life expectancy at birth','Freedom to make life choices','Generosity','Perceptions of corruption']

In [132]:
df

,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,7.37,0.45,50.80,0.72,0.17,0.88
1,7.54,0.55,51.20,0.68,0.19,0.85
2,7.65,0.54,51.60,0.60,0.12,0.71
3,7.62,0.52,51.92,0.50,0.16,0.73
4,7.71,0.52,52.24,0.53,0.24,0.78
...,...,...,...,...,...,...
1944,7.98,0.77,54.40,0.73,-0.10,0.72
1945,8.02,0.75,55.00,0.75,-0.10,0.75
1946,8.05,0.78,55.60,0.76,-0.07,0.84
1947,7.95,0.76,56.20,0.63,-0.06,0.83
1948,7.83,0.72,56.80,0.64,-0.01,0.79

# MULTICOLLLINEARITY

In [133]:
df.corr()

,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
Log GDP per capita,1.00,0.71,0.86,0.35,-0.03,-0.34
Social support,0.71,1.00,0.62,0.41,0.06,-0.23
Healthy life expectancy at birth,0.86,0.62,1.00,0.38,0.02,-0.34
Freedom to make life choices,0.35,0.41,0.38,1.00,0.33,-0.49
Generosity,-0.03,0.06,0.02,0.33,1.00,-0.29
Perceptions of corruption,-0.34,-0.23,-0.34,-0.49,-0.29,1.00

# SO BY SEEING AT CORRELATION MATRIX WE CAN SEE THAT THERE IS MULTICOLLINEARITY IN DATA

# In practice, usually, a VIF >5 or 10 indicates that the associated regression coefficients are poorly estimated because of multicollinearity

# Lets check for null values

In [134]:
df.isna().sum()

Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
dtype: int64

In [135]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

                            feature    VIF
0                Log GDP per capita 312.23
1                    Social support  98.27
2  Healthy life expectancy at birth 263.95
3      Freedom to make life choices  37.74
4                        Generosity   1.19
5         Perceptions of corruption  12.21

# SO CLEARLY THE DATA SUFFERS FROM MULTICOLLINEARITY (SEVERE) IN THIS CASE

In [136]:
df.corr()

,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
Log GDP per capita,1.00,0.71,0.86,0.35,-0.03,-0.34
Social support,0.71,1.00,0.62,0.41,0.06,-0.23
Healthy life expectancy at birth,0.86,0.62,1.00,0.38,0.02,-0.34
Freedom to make life choices,0.35,0.41,0.38,1.00,0.33,-0.49
Generosity,-0.03,0.06,0.02,0.33,1.00,-0.29
Perceptions of corruption,-0.34,-0.23,-0.34,-0.49,-0.29,1.00

# This is very much expected since all are varaibles which collected country wise so of a country has one varible poor the same will happen in case of other variables and moreover economic variables ussally go in sync

In [137]:
df.columns

Index(['Log GDP per capita', 'Social support',
       'Healthy life expectancy at birth', 'Freedom to make life choices',
       'Generosity', 'Perceptions of corruption'],
      dtype='object')

# SO LET'S DROP FEW VARIABLES WE WILL USE DOMAIN KNOWLEDGE TO DROP VARIABLES WE WILL KEEP Log GDP per capita  AND Freedom to make life choices AND Perceptions of corruption

In [138]:
df.drop(['Social support','Healthy life expectancy at birth','Generosity'],axis=1,inplace=True)

In [139]:
df.head()

   Log GDP per capita  Freedom to make life choices  Perceptions of corruption
0                7.37                          0.72                       0.88
1                7.54                          0.68                       0.85
2                7.65                          0.60                       0.71
3                7.62                          0.50                       0.73
4                7.71                          0.53                       0.78

In [140]:
df.corr()

,Log GDP per capita,Freedom to make life choices,Perceptions of corruption
Log GDP per capita,1.00,0.35,-0.34
Freedom to make life choices,0.35,1.00,-0.49
Perceptions of corruption,-0.34,-0.49,1.00

# LET'S DROP ANOTHER VARIABLE I.E FREEDOM TO MAKE CHOICE

In [141]:
df.drop(['Freedom to make life choices'],axis=1,inplace =True)

In [142]:
df

      Log GDP per capita  Perceptions of corruption
0                   7.37                       0.88
1                   7.54                       0.85
2                   7.65                       0.71
3                   7.62                       0.73
4                   7.71                       0.78
...                  ...                        ...
1944                7.98                       0.72
1945                8.02                       0.75
1946                8.05                       0.84
1947                7.95                       0.83
1948                7.83                       0.79

[1712 rows x 2 columns]

In [143]:
df.corr()

                           Log GDP per capita  Perceptions of corruption
Log GDP per capita                       1.00                      -0.34
Perceptions of corruption               -0.34                       1.00

In [144]:
X=df
from statsmodels.stats.outliers_influence import variance_inflation_factor
  
# VIF dataframe
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
  
# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
  
print(vif_data)

                     feature   VIF
0         Log GDP per capita 10.93
1  Perceptions of corruption 10.93

# SO U CAN SEE THAT VIF HAS CONSIDERBALY REDUCED

# THE REASON FOR DROPING THE VARAIBLES IS CLEAR THAT ECONOMIC VARIABLES GO IN SYNC SO I KEPT TWO VARIABLES WHICH INDEED WOULD EXPLAIN ALL OTHER VARIABLES

# MODEL TRAINING

# RATHER THEN USING JUST LINEAR REGRESSION LET'S FIT ALL MODELS AND THEN CHECK THE ACCURACY

In [145]:
from lazypredict.Supervised import LazyRegressor
from sklearn import datasets
from sklearn.utils import shuffle
import numpy as np

In [146]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)
# fit all models
reg = LazyRegressor(predictions=True)
models, predictions = reg.fit(X_train, X_test, y_train, y_test)

100%|██████████████████████████████████████████████████████████████████████████████████| 42/42 [00:05<00:00,  7.59it/s]

In [147]:
print(models,predictions)

                               Adjusted R-Squared  R-Squared  RMSE  Time Taken
Model
HistGradientBoostingRegressor                0.69       0.70  0.62        0.41
KNeighborsRegressor                          0.69       0.69  0.63        0.02
RandomForestRegressor                        0.68       0.68  0.63        0.29
GradientBoostingRegressor                    0.68       0.68  0.64        0.09
AdaBoostRegressor                            0.68       0.68  0.64        0.04
LGBMRegressor                                0.68       0.68  0.64        0.10
ExtraTreesRegressor                          0.67       0.67  0.65        0.20
BaggingRegressor                             0.66       0.66  0.65        0.04
NuSVR                                        0.65       0.65  0.67        0.06
SVR                                          0.64       0.65  0.67        0.07
HuberRegressor                               0.64       0.64  0.67        0.02
LinearSVR                                    0.64       0.64  0.68        0.02
SGDRegressor                                 0.64       0.64  0.68        0.01
OrthogonalMatchingPursuitCV                  0.64       0.64  0.68        0.02
LarsCV                                       0.64       0.64  0.68        0.02
Lars                                         0.64       0.64  0.68        0.02
LinearRegression                             0.64       0.64  0.68        0.00
LassoLarsIC                                  0.64       0.64  0.68        0.02
TransformedTargetRegressor                   0.64       0.64  0.68        0.02
LassoLarsCV                                  0.64       0.64  0.68        0.02
Ridge                                        0.64       0.64  0.68        0.01
RidgeCV                                      0.64       0.64  0.68        0.01
BayesianRidge                                0.64       0.64  0.68        0.02
ElasticNetCV                                 0.64       0.64  0.68        0.07
LassoCV                                      0.64       0.64  0.68        0.06
MLPRegressor                                 0.64       0.64  0.68        3.42
XGBRegressor                                 0.62       0.63  0.69        0.09
PoissonRegressor                             0.62       0.63  0.69        0.01
RANSACRegressor                              0.59       0.60  0.72        0.02
OrthogonalMatchingPursuit                    0.59       0.59  0.72        0.00
GeneralizedLinearRegressor                   0.50       0.50  0.80        0.02
TweedieRegressor                             0.50       0.50  0.80        0.01
GammaRegressor                               0.50       0.50  0.80        0.00
ExtraTreeRegressor                           0.49       0.49  0.81        0.02
DecisionTreeRegressor                        0.42       0.43  0.85        0.00
ElasticNet                                   0.29       0.29  0.95        0.02
DummyRegressor                              -0.01      -0.00  1.13        0.02
Lasso                                       -0.01      -0.00  1.13        0.02
LassoLars                                   -0.01      -0.00  1.13        0.00
PassiveAggressiveRegressor                  -1.31      -1.30  1.71        0.02
GaussianProcessRegressor                    -1.83      -1.81  1.89        0.13
KernelRidge                                -22.61     -22.47  5.46        0.07      AdaBoostRegressor  BaggingRegressor  BayesianRidge  \
0                 5.52              5.11           5.81
1                 5.17              5.56           5.01
2                 5.11              5.23           5.12
3                 5.89              6.33           6.05
4                 5.71              6.28           5.65
..                 ...               ...            ...
338               4.62              4.58           4.61
339               4.11              4.20           3.91
340               5.96              6.29           6.20
341               4.69              4.92           4.76
342               5.90              5.91           5.93

     DecisionTreeRegressor  DummyRegressor  ElasticNet  ElasticNetCV  \
0                     5.39            5.45        5.64          5.81
1                     6.01            5.45        5.30          5.02
2                     6.02            5.45        5.26          5.12
3                     7.35            5.45        5.71          6.05
4                     3.80            5.45        5.53          5.65
..                     ...             ...         ...           ...
338                   4.81            5.45        5.21          4.62
339                   4.42            5.45        4.99          3.91
340                   5.94            5.45        5.71          6.20
341                   4.35            5.45        5.25          4.76
342                   5.75            5.45        5.57          5.93

     ExtraTreeRegressor  ExtraTreesRegressor  GammaRegressor  ...  \
0                  4.87                 5.35            5.53  ...
1                  5.32                 5.39            5.18  ...
2                  6.02                 5.12            5.28  ...
3                  6.15                 6.32            5.66  ...
4                  5.12                 6.43            5.48  ...
..                  ...                  ...             ...  ...
338                4.52                 4.51            4.96  ...
339                4.42                 4.16            4.63  ...
340                6.84                 6.21            5.77  ...
341                4.94                 5.00            5.03  ...
342                5.23                 5.94            5.67  ...

     RANSACRegressor  RandomForestRegressor  Ridge  RidgeCV  SGDRegressor  \
0               5.24                   5.24   5.81     5.81          5.81
1               5.15                   5.62   5.01     5.01          5.02
2               5.61                   5.22   5.12     5.12          5.13
3               5.46                   6.54   6.05     6.05          6.05
4               5.45                   5.93   5.65     5.65          5.65
..               ...                    ...    ...      ...           ...
338             4.61                   4.61   4.61     4.61          4.62
339             4.07                   4.25   3.90     3.90          3.91
340             5.81                   6.10   6.20     6.20          6.20
341             4.76                   5.01   4.76     4.76          4.76
342             5.90                   5.79   5.93     5.93          5.94

     SVR  TransformedTargetRegressor  TweedieRegressor  XGBRegressor  \
0   5.53                        5.81              5.57          5.18
1   4.98                        5.01              5.24          5.36
2   4.47                        5.12              5.37          5.46
3   5.95                        6.05              5.69          6.29
4   5.52                        5.65              5.54          6.70
..   ...                         ...               ...           ...
338 4.76                        4.61              4.99          4.65
339 3.97                        3.90              4.62          4.28
340 6.30                        6.20              5.82          6.03
341 4.91                        4.76              5.07          4.62
342 5.72                        5.93              5.73          5.68

     LGBMRegressor
0             4.94
1             5.29
2             5.01
3             6.45
4             6.40
..             ...
338           4.73
339           4.19
340           6.15
341           4.93
342           5.83

[343 rows x 42 columns]

# SO HERE WE FIND RANDOM FOREST REGRESSOR  IS GIVING THE BEST ACCRURACY( STANADARD MODELS KNOWN)

In [148]:
from sklearn.ensemble import RandomForestRegressor
  
 # create regressor object
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0)
  
# fit the regressor with x and y data
regressor.fit(X, y)

RandomForestRegressor(random_state=0)

In [149]:
import pickle
filename = 'finalized_model.pickle'
pickle.dump(regressor, open(filename, 'wb'))

In [1]:
%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

UsageError: Line magic function `%javascript` not found (But cell magic `%%javascript` exists, did you mean that instead?).

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))